{{!-- creates buttons for each --}}

<li>
	{{name}}

	<button class=" btn change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Eat!{{else}}make another!{{/if}}
	</button>

	<button class="btn delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
